# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.pyc
.bin

# Virtual environments and environment files
.venv/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.tsv
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Ignore model weights and binaries
*.pth
*.pt
*.h5
*.ckpt
*.dll
*.lib
*.pyd

# Ignore large files
/data/

.env
forecast_total_cost.png
test_plot_forecast_agent.py
test_forecast_agent.py
forecast_agent.py
frontend/static/forecast
